<table style="width:100%">
<thead><tr style="background-color:black;color:white"><th>Procedure</th><th>Line</th><th>Boogie</th><th>Why3</th><th>Alt-Ergo</th><th>CVC3</th><th>Z3</th></tr><tr><th style="background-color:#1e90ff;color:white">Total proved by each tool:</th><th style="background-color:#1e90ff;color:white"></th><th style="background-color:#DDFFDD;">100 %</th><th style="background-color:#EDEFDD;">50 %</th><th style="background-color:#EDEFDD;">50 %</th><th style="background-color:#EDEFDD;">50 %</th><th style="background-color:#EDEFDD;">50 %</th></tr></thead>
<tbody>
<tr><td style="padding:5px;padding-right:15px;text-align:left"><strong><span style="color:#9400d3">procedure </span><span style="color:blue">lemma_no</span></strong></td> <td style="padding:5px;padding-right:15px;text-align:right">21</td> <td style="padding:5px;padding-right:15px;text-align:center;background-color:#DDFFDD;">Verified</td> <td style="padding:5px;padding-right:15px;text-align:center;background-color:#FDDFDD;">Failure</td> <td style="padding:5px;padding-right:15px;text-align:center;background-color:#FDDFDD;">Failure</td> <td style="padding:5px;padding-right:15px;text-align:center;background-color:#FDDFDD;">Failure</td> <td style="padding:5px;padding-right:15px;text-align:center;background-color:#FDDFDD;">Failure</td></tr>
<tr><td style="padding:5px;padding-right:15px;text-align:left"><strong><span style="color:#9400d3">procedure </span><span style="color:blue">lemma_yes</span></strong></td> <td style="padding:5px;padding-right:15px;text-align:right">10</td> <td style="padding:5px;padding-right:15px;text-align:center;background-color:#DDFFDD;">Verified</td> <td style="padding:5px;padding-right:15px;text-align:center;background-color:#DDFFDD;">Verified</td> <td style="padding:5px;padding-right:15px;text-align:center;background-color:#DDFFDD;">Verified</td> <td style="padding:5px;padding-right:15px;text-align:center;background-color:#DDFFDD;">Verified</td> <td style="padding:5px;padding-right:15px;text-align:center;background-color:#DDFFDD;">Verified</td></tr>
</tbody>
</table>
